# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

{% if prometheus_alertmanager_urls is defined %}
# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
       {% for target in prometheus_alertmanager_urls %}
       - {{ target }}
       {% endfor %}
{% endif %}

{% if prometheus_rule_files is defined %}
# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  {% for (key, value) in prometheus_rule_files.iteritems() %}
  - {{ prometheus_rule_path }}/{{ value.dest }}
  {% endfor %}
{% endif %}

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
{% if prometheus_ec2_sd_configs is defined %}
  - job_name: 'ec2_node'
    ec2_sd_configs:
      - region: {{ prometheus_ec2_sd_configs["region"] }}
        port: {{ prometheus_ec2_sd_configs["port"] }}
    relabel_configs:
      - source_labels: [__meta_ec2_instance_id]
        target_label: instance
{% endif %}
