[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_install_path }}/prometheus \
    --config.file {{ prometheus_install_path }}/prometheus.yml \
    --storage.tsdb.path {{ prometheus_storage_tsdb_path }} \
    --web.console.templates={{ prometheus_install_path }}/consoles \
    --web.console.libraries={{ prometheus_install_path }}/console_libraries

[Install]
WantedBy=multi-user.target
